.link-disabled {
    pointer-events: none;
    opacity: .65;
}

.custom-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1em;
    width: 100%;
}

.react-date-picker__wrapper {
    border-color: transparent;
}